@inherits LayoutComponentBase

<PageTitle>Reisingher_Intelliface_1_0</PageTitle>
<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogIn />
    </NotAuthorized>
    
</AuthorizeView>
